﻿.Introtext
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    line-height: 28px;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    color: #FFFFFF;
}

.Maintext
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: normal;
    line-height: 18px;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    color: #FFFFFF;
}

.Largetitle
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-style: normal;
    line-height: 40px;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    color: #FFFFFF;
}

.IntrotextBlue
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    line-height: 28px;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    color: #003399;
}

.MaintextBlack
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    line-height: 18px;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    color: #000000;
}

.links
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: normal;
    line-height: 12px;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
}

.IntrotextBlueSmaller
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 26px;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    color: #003399;
}

.navigation
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
    line-height: 14px;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    color: #FFFFFF;
}

.Body-C13
{
    font-family: "Arial Narrow" , sans-serif;
    font-size: 12.0px;
    line-height: 1.25em;
}

html, body
{
    margin: 0px !important;
    padding: 0px !important;
    border-spacing: 0px !important;
}

table, td, tr
{
    margin: 0px !important;
    padding: 0px !important;
    border-spacing: 0px !important;
}

.FontAdjusted
{
    font-size: 0 !important;
}

#CopyRights
{
    font-family: Verdana;
    font-size: 10px;
    font-style: italic;
    padding-right: 18px;
    padding-top: 10px;
    text-align: right;
}

#SocialPanel
{
    font-family: Verdana;
    font-size: 10px;
    font-style: italic;
    padding-left: 18px;
    padding-top: 10px;
    text-align: left;
}

.MainBodyContent
{
    width: 100%;
    font-size: 12px;
    vertical-align: top !important;
    min-height: 450px;
}

#BodyContent_upWireCalc
{
    vertical-align: top !important;
    min-height: 450px;
}

#BodyContent_upVoltConv
{
    vertical-align: top !important;
    min-height: 450px;
}

#BodyContent_upPowerConv
{
    vertical-align: top !important;
    min-height: 450px;
}

#BodyContent_upCoilConv
{
    vertical-align: top !important;
    min-height: 450px;
}

.AboutUsLayout
{
    overflow: hidden;
    color: #2F2E2E;
    font-family: Arial, Tahoma, Verdana;
    font-size: 12px;
    font-weight: normal;
    width: 100%;
}

.TabMinHeightDefaults
{
    background-color: transparent;
    min-height: 460px;
}

.AboutUsLeft
{
    width: 25%;
    background-color: transparent;
    margin: 20px 5px 5px 20px;
}

.AboutUsRight
{
    width: 75%;
    background-color: transparent;
    margin: 20px 5px 5px 20px;
    text-align: justify;
    vertical-align: top;
}

.AboutAuthorNameStyle
{
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    width: 125px;
    text-align: left;
    vertical-align: text-top;
}

.RequiredField
{
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    color: Red;
    padding-top: 4px;
    padding-left: 2px;
    padding-right: 2px;
}

.MultilineTextBox
{
    padding: 3px;
    font-size: 11px;
}

.ReqMessages
{
    font-size: 11px;
    font-family: Tahoma;
    padding-top: 10px;
    width: 96%;
    text-align: justify;
}

.WireDesignEditTable
{
    width: 100%;
    background-color: #D7EBF9;
    border-radius: 5px;
}

.WireCalcTable
{
    width: 100%;
}

.WireCalcTable td
{
    width: 33%;
}

.WireCalcTableTop
{
    width: 100%;
}

.WireCalcTableTop td
{
    width: 100%;
}

.WireCalcTableBottom
{
    width: 100%;
}

.WireCalcTableBottom td
{
    width: 50%;
}

.WireCalcJobDetails
{
    background-color: #D7EBF9;
    margin-bottom: 6px;
    border-radius: 5px;
    width: 100%;
}

.WireCalcLeft
{
    min-height: 420px;
    background-color: #D7EBF9;
    margin-right: 6px;
    border-radius: 5px;
    text-align: left;
}

.WireCalcOldDataTable
{
    min-height: 420px;
    width: 100%;
}

.WireCalcOldDataTableLabel
{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    height: 22px;
    margin-top: 8px;
}

.WireCalcOldDataInnerTable
{
    width: 100%;
}

.WireCalcOldDataInnerTableTd1
{
    width: 20%;
    text-align: left;
}

.WireCalcOldDataInnerTableTd2
{
    width: 30%;
    text-align: left;
    margin-right: 5px;
}

.WireCalcOldDataInnerTableTd3
{
    width: 50%;
    text-align: justify;
    margin-right: 5px;
}

.ConvCalcLeft
{
    min-height: 420px;
    background-color: #D7EBF9;
    margin-right: 6px;
    border-radius: 5px;
    text-align: left;
}

.ConvCalcRight
{
    min-height: 420px;
    background-color: #D7EBF9;
    border-radius: 5px;
    text-align: left;
}

.CoilConversionTable
{
    width: 100%;
}

.CoilConversionLeft
{
    min-height: 420px;
    background-color: #D7EBF9;
    margin-right: 6px;
    border-radius: 5px;
    text-align: left;
}

.CoilConversionRight
{
    min-height: 420px;
    background-color: #D7EBF9;
    border-radius: 5px;
    text-align: right;
    width: 100%;
}

.CoilConversionLabel
{
    width: 100%;
    text-align: right;
    font-weight: bold;
    font-size: 12px;
    height: 22px;
    margin-top: 8px;
}

.CoilConversionLeftTableTd1
{
    width: 50%;
    text-align: right;
    margin-right: 5px;
}

.CoilConversionLeftTableTd2
{
    width: 20px;
}

.CoilConversionLeftTableTd3
{
    width: 50%;
    text-align: left;
    margin-right: 5px;
    margin-left: 10px;
}

.CoilConversionMarginWrapper
{
    margin-left: 20px;
}

.ConvCalcLeftTableTd1
{
    width: 50%;
    text-align: right;
    margin-right: 5px;
}

.CoilConversionInnerTable
{
    width: 100%;
    text-align: center;
}

.ConvCalcLeftTableTd2
{
    width: 50%;
    text-align: center;
    margin-right: 5px;
}

.WireCalcOldDataTableText
{
    width: 95%;
    text-align: justify;
    font-size: 12px;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
    height: 30px;
    vertical-align: text-top;
}

.WireCalcMiddle
{
    min-height: 425px;
    margin-right: 6px;
    text-align: left;
    background-color: #D7EBF9;
    border-radius: 5px;
}

.WireCalcMiddleTable
{
    width: 100%;
    text-align: center;
    vertical-align: middle;
    min-height: 69px !important;
    height: 69px !important;
}

.WireCalcMiddleTableTdLeft
{
    text-align: right;
}

.WireCalcMiddleTableTdRight
{
    text-align: Left;
}

.WireCalcRight
{
    min-height: 420px;
    background-color: #D7EBF9;
    border-radius: 5px;
    text-align: left;
}

.WireCalcBottomLeft
{
    min-height: 70px;
    background-color: #D7EBF9;
    border-radius: 5px;
    margin-top: 6px;
    margin-right: 6px;
    text-align: left;
}

.WireCalcBottomRight
{
    min-height: 70px;
    background-color: #D7EBF9;
    border-radius: 5px;
    margin-top: 6px;
    text-align: left;
}

.ConvMiddleradiolist
{
    margin-left: 90px;
    margin-bottom: 9px;
    text-align: left;
}

.PCConvRightRadiolist
{
    margin-bottom: 9px;
    text-align: right;
    width: 100%;
}

.PCConvCalcLeft
{
    min-height: 420px;
    background-color: #D7EBF9;
    margin-right: 6px;
    border-radius: 5px;
    text-align: left;
}

.PowerCalcMiddle
{
    min-height: 420px;
    margin-right: 6px;
    text-align: left;
    background-color: #D7EBF9;
    border-radius: 5px;
    margin-bottom: 2px;
}

.PCConvCalcMiddle
{
    text-align: center;
    vertical-align: middle;
    min-height: 420px;
    margin-right: 6px;
}

.PCConvCalcMiddleTop
{
    min-height: 420px;
    background-color: #D7EBF9;
    border-radius: 5px;
}

.PCConvCalcRight
{
    min-height: 420px;
    background-color: #D7EBF9;
    border-radius: 5px;
    text-align: left;
}

.ConvMiddleTop
{
    height: 155px;
    background-color: #D7EBF9;
    border-radius: 5px;
    margin-bottom: 6px;
}

.ConvMiddleBottom
{
    height: 260px;
    background-color: #D7EBF9;
    border-radius: 5px;
}

.CoilConvLeftBottom
{
    background-color: #D7EBF9;
    border-radius: 5px;
}

.ConvMiddleTable
{
    width: 100%;
    text-align: center;
    vertical-align: middle;
    min-height: 69px !important;
    height: 69px !important;
}

.CalcButtons
{
    padding: 6px 10px;
    -webkit-border-radius: 2px 2px;
    border: solid 1px rgb(153, 153, 153);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221)));
    color: #333;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(255,255,255,1);
    line-height: 1;
    border-color: rgb(98,202,227);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(98,202,227)));
    -webkit-transform: scale(1);
    -webkit-transform-origin: bottom left;
}

.CalcButtons:hover
{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(248, 248, 248)), to(rgb(221, 221, 221)));
}

.CalcButtons:active
{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(204, 204, 204)), to(rgb(221, 221, 221)));
}

.SiteTextBoxesPink
{
    background-color: #FFAA99;
}

.ResultValidationMessage
{
    margin-left: 8px;
    margin-top: 8px;
    border: 0px;
    border-bottom-color: transparent;
    border-color: transparent;
    font-size: 12px;
    font-weight: bold;
    color: Red;
    text-align:left;
}

.ResultMessage
{
    margin-left: 8px;
    margin-top: 8px;
    border: 0px;
    border-bottom-color: transparent;
    border-color: transparent;
    font-size: 12px;
    font-weight: bold;
}

.MenuPanel
{
    background-color: #D7EBF9;
    border-radius: 5px;
    width: 956px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}

.MenuIntermediatePanel
{
    margin: 3px;
}

.webwidget_menu_dropdown ul
{
    padding: 0px;
    margin: 0px;
    font-family: Arial;
}

.webwidget_menu_dropdown ul li
{
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -khtml-border-radius-topright: 5px;
    -khtml-border-radius-topleft: 5px;
    border-radius-topright: 5px;
    border-radius-topleft: 5px;
    border-radius: 5px;
    float: left;
    list-style: none;
    position: relative;
    text-align: center;
}

.webwidget_menu_dropdown ul li a
{
    text-decoration: none;
    font-weight: bold;
}

.webwidget_menu_dropdown ul li ul
{
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -khtml-border-radius-bottomright: 5px;
    -khtml-border-radius-bottomleft: 5px;
    border-radius-bottomright: 5px;
    border-radius-bottomleft: 5px;
    border-radius: 5px;
    padding-bottom: 5px;
    position: absolute;
    z-index: 999999;
    display: none;
}

.webwidget_menu_dropdown ul li ul li
{
    -moz-border-radius-topright: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -khtml-border-radius-topright: 0px;
    -khtml-border-radius-topleft: 0px;
    border-radius-topright: 0px;
    border-radius-topleft: 0px;
    border-radius: 0px;
    margin: 0px;
    float: none;
    border: none;
    word-wrap: break-word;
}

.webwidget_menu_dropdown ul li ul li a
{
    padding-left: 5px;
    padding-right: 5px;
    font-weight: normal;
}

#roundCorderC
{
    font-family: Arial;
    border: 5px solid #2694E8;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    padding: 15px 25px;
    height: inherit;
    width: 590px;
}

.fileinput-button
{
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 4px;
}

.fileinput-button input
{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border: solid transparent;
    border-width: 0 0 100px 200px;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transform: translate(-300px, 0) scale(4);
    direction: ltr;
    cursor: pointer;
}

.fileupload-buttonbar .btn, .fileupload-buttonbar .toggle
{
    margin-bottom: 5px;
}
.files .progress
{
    width: 200px;
}

.progress-animated .bar
{
    background: url(../img/progressbar.gif) !important;
    filter: none;
}

.fileupload-loading
{
    position: absolute;
    left: 50%;
    width: 128px;
    height: 128px;
    background: url(../img/loading.gif) center no-repeat;
    display: none;
}

.fileupload-processing .fileupload-loading
{
    display: block;
}

*html .fileinput-button
{
    line-height: 22px;
    margin: 1px -3px 0 0;
}

* + html .fileinput-button
{
    margin: 1px 0 0 0;
}

@media (max-width: 480px)
{
    .files .btn span
    {
        display: none;
    }
    .files .preview *
    {
        width: 40px;
    }
    .files .name *
    {
        width: 80px;
        display: inline-block;
        word-wrap: break-word;
    }
    .files .progress
    {
        width: 20px;
    }
    .files .delete
    {
        width: 60px;
    }
}

a.WelcomeTexts:visited, a.WelcomeTexts:hover, a.WelcomeTexts:link, a.WelcomeTexts:active
{
    color: #D7EBF9;
    font-size: 10px;
    font-family: Tahoma;
    font-weight: bold;
}

.WelcomeText
{
    color: #D7EBF9;
    font-size: 10px;
    font-family: Tahoma;
    font-weight: bold;
    font-style: italic;
    text-align: right;
    width: 96%;
}

.PrintJobMainBox
{
    width: 700px;
    margin: 15px;
    border: 2px solid black;
    border-color: Black;
    border-radius: 5px;
    text-align: center;
    font-family: Tahoma;
    font-size: 12px;
}

.PrintJobBoxTrDiv
{
    width: 95%;
    margin: 15px;
    font-family: Tahoma;
    font-size: 12px;
}

.PrintJobHeading
{
    font-size: 13px;
    font-weight: bold;
    font-family: Tahoma;
}

.collapse
{
    position: relative;
}

.tooltip
{
    outline: none;
    cursor: help;
    text-decoration: none;
    position: relative;
}

.tooltip span
{
    margin-left: -999em;
    position: absolute;
}

.tooltip:hover span
{
    border-radius: 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    font-family: Calibri, Tahoma, Geneva, sans-serif;
    position: absolute;
    left: 1em;
    top: 2em;
    z-index: 99;
    width: 300px;
    text-align: justify;
    margin: 10px 10px 10px 10px;
    color: Black;
    background-color: White;
}

.ToolTipDiv
{
    margin: 10px 10px 10px 10px;
    text-align: justify;
}

.Introtext
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    line-height: 28px;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    color: #FFFFFF;
}
.Maintext
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    line-height: 18px;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    color: #FFFFFF;
}
.Largetitle
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-style: normal;
    line-height: 40px;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    color: #FFFFFF;
}
.IntrotextBlue
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    line-height: 28px;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    color: #003399;
}
.MaintextBlack
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    line-height: 18px;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    color: #000000;
}

.IntrotextBlueSmaller
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 26px;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    color: #003399;
}
