div.wp_navbar_menub_V5{background:transparent;overflow:visible;}
.wp_navbar_menub_V5, .wp_navbar_menub_V5 a, .wp_navbar_menub_V5 span{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.wp_navbar_menub_V5 span, .wp_navbar_menub_V5 a, .wp_navbar_menub_V5 a:link, .wp_navbar_menub_V5 a:visited, .wp_navbar_menub_V5 a:hover, .wp_navbar_menub_V5 a:active{color:#000000;font-family:Arial,sans-serif;font-size:10pt;font-weight:normal;text-decoration:none;text-align:left;font-variant:normal;text-transform:none;font-style:normal;letter-spacing:normal;padding:0px 4px;}
.wp_navbar_menub_V5 span{cursor:default;}
.wp_navbar_menub_V5 a.open:link, .wp_navbar_menub_V5 a.open:visited, .wp_navbar_menub_V5 a.open:hover, .wp_navbar_menub_V5 a.open:active, .wp_navbar_menub_V5 span.open{padding:0px 4px;}
.wp_navbar_menub_V5 :focus{outline:none;}
.wp_navbar_menub_V5 a.currentpage, .wp_navbar_menub_V5 a.currentpage:link, .wp_navbar_menub_V5 a.currentpage:visited, .wp_navbar_menub_V5 a.currentpage:hover, .wp_navbar_menub_V5 a.currentpage:active{letter-spacing:normal;}
.wp_navbar_menub_V5 span.open, .wp_navbar_menub_V5 a.open, .wp_navbar_menub_V5 a.open:link, .wp_navbar_menub_V5 a.open:visited, .wp_navbar_menub_V5 a.open:hover, .wp_navbar_menub_V5 a.open:active{color:#a0a0a0;}
table.wp_navbar_menub_V5_level1{background:#ffffff;border:1px solid #000000;padding:4px 0px;border-collapse:separate;border-spacing:0;}
table.wp_navbar_menub_V5_level1 :focus{outline:none;}
.wp_navbar_menub_V5_level1 span, .wp_navbar_menub_V5_level1 a, .wp_navbar_menub_V5_level1 a:link, .wp_navbar_menub_V5_level1 a:visited, .wp_navbar_menub_V5_level1 a:hover, .wp_navbar_menub_V5_level1 a:active{background:#ffffff;color:#006f77;font-family:Verdana,sans-serif;font-size:10pt;font-weight:normal;text-decoration:none;text-align:left;font-variant:normal;text-transform:none;font-style:normal;letter-spacing:normal;padding:3px;}
.wp_navbar_menub_V5_level1 span.open, .wp_navbar_menub_V5_level1 a.open:link, .wp_navbar_menub_V5_level1 a.open:visited, .wp_navbar_menub_V5_level1 a.open:hover, .wp_navbar_menub_V5_level1 a.open:active{padding:3px;}
.wp_navbar_menub_V5_level1 span{font-style:italic;letter-spacing:normal;cursor:default;}
.wp_navbar_menub_V5_level1 a.currentpage, .wp_navbar_menub_V5_level1 a.currentpage:link, .wp_navbar_menub_V5_level1 a.currentpage:visited, .wp_navbar_menub_V5_level1 a.currentpage:hover, .wp_navbar_menub_V5_level1 a.currentpage:active{font-weight:bold;letter-spacing:normal;}
.wp_navbar_menub_V5_level1 span.hassubmenu_left, .wp_navbar_menub_V5_level1 a.hassubmenu_left, .wp_navbar_menub_V5_level1 a.hassubmenu_left:link, .wp_navbar_menub_V5_level1 a.hassubmenu_left:visited, .wp_navbar_menub_V5_level1 a.hassubmenu_left:hover, .wp_navbar_menub_V5_level1 a.hassubmenu_left:active{background-image:url('../wpimages/wp7f5b6ae4.gif');background-position:left center;background-attachment:scroll;background-repeat:no-repeat;}
.wp_navbar_menub_V5_level1 span.hassubmenu_right, .wp_navbar_menub_V5_level1 a.hassubmenu_right, .wp_navbar_menub_V5_level1 a.hassubmenu_right:link, .wp_navbar_menub_V5_level1 a.hassubmenu_right:visited, .wp_navbar_menub_V5_level1 a.hassubmenu_right:hover, .wp_navbar_menub_V5_level1 a.hassubmenu_right:active{background-image:url('../wpimages/wp710bfb3e.gif');background-position:right center;background-attachment:scroll;background-repeat:no-repeat;}
.wp_navbar_menub_V5_level1 img{width:16px;}
.wp_navbar_menub_V5_level1 span.open, .wp_navbar_menub_V5_level1 a.open, .wp_navbar_menub_V5_level1 a.open:link, .wp_navbar_menub_V5_level1 a.open:visited, .wp_navbar_menub_V5_level1 a.open:hover, .wp_navbar_menub_V5_level1 a.open:active{background-color:#ffffff;color:#c0c0c0;}
.wp_navbar_menub_V5_level1 hr{border:none 0;border-top:1px dashed #01bfbd;height:1px;width:50%;text-align:center;margin:1px auto 1px auto;}