﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PrinitDesign.aspx.cs" Inherits="WindingDesign.WebApp.PrinitDesign" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body onload="window.print();">
    <form id="form1" runat="server">
    <div>
        <img id="imgDesign" alt="Print Design" src="" runat="server" />
    </div>
    </form>
</body>
</html>
