td img {
/* Another Mozilla/Netscape bug with making sure our images display correctly */
	display: block;
}

#FWTableContainer227165579 {
/* The master div to make sure that our popup menus get aligned correctly.  Be careful when playing with this one. */
	position:relative;
	margin:0px;
	width:660px;
	height:440px;
	text-align:left;
}

#MMMenuContainer0601144728_0 {
/* This ID is related to the master menu div for menu MMMenuContainer0601144728_0 and contains the important positioning information for the menu as a whole */
	position:absolute;
	left:16px;
	top:65px;
	visibility:hidden;
	z-index:300;
}

#MMMenu0601144728_0 {
/* This class defines things about menu MMMenu0601144728_0's div. */
	position:absolute;
	left:0px;
	top:0px;
	visibility:hidden;
	background-color:#ffffff;
	width:117px;
	height:66px;
}

.MMMIFVStyleMMMenu0601144728_0 {
/* This class determines the general characteristics of the menu items in menu MMMenu0601144728_0 */
	width:117px;
	height:22px;
	voice-family: "\"}\"";
	voice-family:inherit;
	width:111px;
	height:16px;
}

.MMMIVStyleMMMenu0601144728_0 {
/* This class determines the general characteristics of the menu items in menu MMMenu0601144728_0 */
	width:117px;
	height:22px;
	voice-family: "\"}\"";
	voice-family:inherit;
	width:111px;
	height:16px;
}

#MMMenu0601144728_0_Item_0 {
/* Unique ID for item 0 of menu MMMenu0601144728_0 so we can set its position */
	left:0px;
	top:0px;
}

#MMMenu0601144728_0_Item_1 {
/* Unique ID for item 1 of menu MMMenu0601144728_0 so we can set its position */
	left:0px;
	top:22px;
}

#MMMenu0601144728_0_Item_2 {
/* Unique ID for item 2 of menu MMMenu0601144728_0 so we can set its position */
	left:0px;
	top:44px;
}

#MMMenuContainer0601144728_0 img {
/* needed for Mozilla/Camino/Netscape */
	border:0px;
}

#MMMenuContainer0601144728_0 a {
/* Controls the general apperance for menu MMMenuContainer0601144728_0's items, including color and font */
	text-decoration:none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	text-align:left;
	vertical-align:middle;
	padding:3px;
	background: url("mmmenu1_117x22_up.gif") #cccccc;
	font-weight:normal;
	font-style:normal;
	display:block;
	position:absolute;
}

#MMMenuContainer0601144728_0 a:hover {
/* Controls the mouse over effects for menu MMMenuContainer0601144728_0 */
	color:#ffffff;
	background: url("mmmenu1_117x22_over.gif") #999999;
}
